@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
}

.nav {
  background-color: #fff;
  width: 100%;
  height: 80px;
}

.nav__container {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 6rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Old Standard TT", serif;
  font-size: 1.875rem;
  font-weight: 700;
  color: #fff;
  background-color: #0c0910;
}

.nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
  padding-right: 3rem;
}

.nav__item {
  color: #0c0910;
  font-family: "Raleway", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__item::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 500ms;
}

.nav__item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* .nav__input:checked+.nav__menu {
    background-color: tomato;
} */
.nav__label,
.nav__input {
  display: none;
}

@media (max-width: 700px) {
  .nav__label {
    display: block;
    cursor: pointer;
    padding-right: 2rem;
  }

  .nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background-color: #f08080;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }

  .nav__input:checked + .nav__menu {
    clip-path: circle(100% at center);
  }
}
.main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
}

.hero {
  grid-column: 2/3;
  grid-row: 1/3;
}

.hero__image {
  width: 100%;
}

.article {
  grid-row: 1/2;
  padding: 3rem;
}

.article__title {
  font-family: "Old Standard TT", serif;
  font-size: 3.125rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #0c0910;
}

.article__text {
  width: 70%;
  margin-top: 1rem;
  font-size: 1rem;
  color: #a6a5a8;
  letter-spacing: 1px;
}

.article__btn {
  margin-top: 1rem;
  font-size: 1.125rem;
  background-color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
  border: 1px solid #0c0910;
  transition: border-color 300ms;
}

.article__btn:hover {
  border-color: #d1d1d1;
}

.article__btn:focus {
  border-color: #d1d1d1;
  color: #d1d1d1;
}

@media (min-width: 425px) and (max-width: 768px) {
  .main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
  }

  .hero {
    width: 100%;
  }

  .hero__image {
    width: 100%;
    height: 30%;
  }
}
@media (max-width: 425px) {
  .main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
  }

  .article {
    padding: 2rem;
  }

  .article__title {
    font-size: 1.875rem;
  }

  .article__text {
    width: 100%;
    margin-top: 1rem;
    font-size: 0.875rem;
    letter-spacing: 1.2px;
    line-height: 1.75;
  }

  .article__btn {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
  }
}
.contact {
  width: 100%;
  display: grid;
  grid-template-columns: 92% 8%;
}

.contact__form {
  padding: 3rem;
  background-color: #0c0910;
  color: #fff;
  font-family: "Old Standard TT", serif;
}

.form__title {
  font-size: 1.875rem;
}

.form__subtitle {
  margin-top: 1rem;
  margin-bottom: 0.35rem;
  font-size: 1rem;
  font-weight: 400;
  color: #ececec;
}

.contact__input {
  width: 60%;
  padding: 0.5rem;
}

.contact__stripe {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Old Standard TT", serif;
  font-size: 1.125rem;
  letter-spacing: 1px;
}

.stripe__title {
  writing-mode: vertical-lr;
}

@media (max-width: 425px) {
  .contact__form {
    padding: 2rem;
  }

  .contact__input {
    width: 90%;
  }
}

/*# sourceMappingURL=main.css.map */
